backports.functools-lru-cache==1.5
cycler==0.10.0
enum34==1.1.6
futures==3.2.0
imageio==2.4.1
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.14.5
pandas==0.23.3
Pillow==5.2.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
scipy==1.1.0
seaborn==0.8.1
six==1.11.0
subprocess32==3.5.2
torch==0.3.1
tqdm==4.23.4
